findgpus
.vscode
build_cpu_version/
build_gpu_version/
main-cpu
main-gpu
gpuarchs.txt
evaluation/compare1
evaluation/computeWindowsFromSam
suche.txt
suche2.txt
output.txt
startbefehl.txt
20.01.zip
croped_output_origim.tct
CSSW_mapping_out.txt
CSSW_SAM.SAM
CSSW_SAM.txt
CSSW_VC.VCF
genome.fna
GRCh38.fa
masterbackup_20_12_2022.zip
output_SHD.txt
output.txt.VCF
ppreads
PSW_out.txt
reads_test.fasta
reads.fasta
shortreads_1.fastq
shortreads_2.fastq
logfile.txt
bigforloop_threadpool.txt
17_3_mappinghandler.txt
alignment_result_hisat3n_prefixaa.sam
ppaareads
prefixaa
prefixab
prefixac
prefixad
standdardwithoutwarpcoreandonegpu.VCF
xaa
kleineraa
HD_0_5_reads_out.VCF
kleinerab
kleinerac
kleinerad
kleinerae
kleineraf
kleinerag
master_backup_08_2023.zip
readsstandard_out.VCF
